
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%; 
    background-color: #e9fa04;
  }
  
  .left {
    flex-grow: 1;
  }
  
  .brand-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity));
    font-family: Poppins;
  }
  
  .right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .right ul li {
    margin-left: 20px; 
  }
  
  .right ul li:first-child {
    margin-left: 0; 
  }
  